.App {
	margin: 0;
	text-align: center;
	user-select: none;
}

.Ruler > p > span {
	padding: 0 5px 2px;
	margin-right: 5px;
	background-color: #E85B42;
	border-radius: 4px;
}

.Ruler > p > span:hover {
	background-color: #E32121;
}

.Ruler {
	border-radius: 6px;
	background-color: #F47B70;
	box-shadow: 5px 5px 5px grey;

	padding: 1.5em;
	padding-left: 2.5em;
	text-align: left;

	position: fixed;
	top: 2em;
	left: 2em;
	min-width: 18em;
}

.Ruler:hover, .logBox:hover {
	background-color: #EC776C;
}

.Ruler > p {
	margin: 5px;
	font-size: 1.2em;
}

.logBox {
	background-color: #F47B70;
	border-radius: 6px;

	padding: 0 2em;
	text-align: left;
	font-size: 1.3em;

	position: fixed;
	bottom: 2em;
	left: 2em;
}

.logBox > p {
	margin-top: 1em;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
