.App {
	margin: 0;
	text-align: center;
	user-select: none;
}

.Ruler > p > span {
	padding: 0 5px 2px;
	margin-right: 5px;
	background-color: #E85B42;
	border-radius: 4px;
}

.Ruler > p > span:hover {
	background-color: #E32121;
}

.Ruler {
	border-radius: 6px;
	background-color: #F47B70;
	box-shadow: 5px 5px 5px grey;

	padding: 1.5em;
	padding-left: 2.5em;
	text-align: left;

	position: fixed;
	top: 2em;
	left: 2em;
	min-width: 18em;
}

.Ruler:hover, .logBox:hover {
	background-color: #EC776C;
}

.Ruler > p {
	margin: 5px;
	font-size: 1.2em;
}

.logBox {
	list-style-type: none;
	border-radius: 6px;

	padding: 0 2em;
	text-align: left;
	font-size: 1.3em;

	position: fixed;
	bottom: 2em;
	left: 2em;
	cursor: pointer;
}

.logBox:active {
	background-color: #FF3;
}

.logBox > p {
	margin-top: 1em;
}

.logBox li {
	background-color: #F47B70;
	margin-bottom: 3px;
	padding: 3px 13px 5px;
	border-radius: 4px;
	max-width: 15em;
}

.logBox:active li {
	background-color: #EE2;
}
